.video-palyer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-palyer video {
  width: 20%; /* Default for desktop */
  max-width: 900px; /* Limit to 900px */
  height: auto;
  border: 4px solid white;
}

/* Tablet (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .video-palyer video {
    width: 30%;
  }
}

/* Mobile (max-width: 767px) */
@media (max-width: 767px) {
  .video-palyer video {
    width: 70%;
  }
}

.video-palyer.hide {
  display: none;
}
